* {
  font-family: Source Code Pro;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
  height: 4500px;
}

li {
  display: inline-block;
  width: 500px;
  text-align: center;
  position: relative;
}

ul {
  text-align: center;
}

h1 {
  color: #309ba0;
  padding-left: 60px;
  padding-top: 20px;
}

a {
  color: #309ba0;
  padding: 60px;
  text-decoration-line: none;
  font-size: 20px;
}

p {
  padding: 60px;
  color: white;
  font-size: 20px;
}

#logoAnim {
  position: fixed;
  padding: 2%;
  overflow: visible;
  animation: fadeIn 3s;
  z-index: 1;
}

.portfolio {
  position: fixed;
  overflow: visible;
  margin-left: 86.5%;
  margin-top: 3%;
  animation: fadeIn 3s;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#logoAnim path:nth-child(1) {
  stroke-dasharray: 212px;
  stroke-dashoffset: 212px;
  animation: anima 3s ease forwards;
}

.name {
  position: fixed;
  overflow: visible;
  margin-left: 6%;
  margin-top: 3%;
  animation: fadeIn 3s;
  z-index: 100;
}

.mainFunction {
  position: static;
}

.firstFunction {
  height: 300px;
  margin-top: 300px;
}

.li2 p {
  color: #309ba0;
  padding-top: 8%;
  text-transform: uppercase;
  font-size: 40px;
}

.aboutMeImgDiv {
  width: 90%;
  left: 5%;
  transform: translate(5%);
  padding-top: 10%;
  animation: fadeIn 3s;
}

.sectionImg {
  width: 30%;
  padding-top: 10%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transform: translate(110%);
}

.sectionTxt {
  color: #309ba0;
  padding-top: 8%;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  transform: translate(-1%, -50%);
}

.skillBox {
  background-color: #1a1a1a;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10%;
}

.svgInBox {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.svgInBox1 {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.pageBox {
  background-color: #1a1a1a;
  height: 1200px;
  width: 50%;
  transform: translate(50%);
  margin-top: 50px;
}

.pageBoxXpress {
  background-color: #1a1a1a;
  height: 2700px;
  width: 50%;
  transform: translate(50%);
  margin-top: 50px;
}

.pageBoxTraluma {
  background-color: #1a1a1a;
  height: 3200px;
  width: 50%;
  transform: translate(50%);
  margin-top: 50px;
}

.pageBoxImg {
  height: 50px;
  padding-left: 60px;
  padding-top: 60px;
}

.pageBoxImg2 {
  height: 60px;
  padding-left: 60px;
  padding-top: 60px;
}

.pageBoxImg3 {
  height: 80px;
  padding-left: 60px;
  padding-top: 60px;
}

.liListed {
  display: grid;
  transform: translate(30%);
  font-size: 20px;
  text-align: left;
  list-style: disc;
  display: list-item;
  padding-top: 15px;
}

.liListed2 {
  display: grid;
  transform: translate(10%);
  font-size: 20px;
  text-align: left;
  list-style: cross-fade();
  display: list-item;
}

.liListed2:first-child {
  padding-top: 10px;
}

.projectBox {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;


}

.li3 {
  padding-top: 40px;
  display: inline-block;
  width: 200px;

  text-align: center;
  position: relative;
}