* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    height: 1500px;
}
#logoAnim {
    position: fixed;
    padding: 2%;
    overflow: visible;
    animation: fadeIn 3s;
    z-index: 1;
  }
  .portfolio {
    position: fixed;
    overflow: visible;
    margin-left: 86.5%;
    margin-top: 3%;
    animation: fadeIn 3s;
    z-index: 1;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  #logoAnim path:nth-child(1) {
    stroke-dasharray: 212px;
    stroke-dashoffset: 212px;
    animation: anima 3s ease forwards;
  }
.meImage {
    position: fixed;
    overflow: visible;
    margin-left: 78%;
    margin-top: 2%;
    animation: fadeIn 3s;
    z-index: 0;
    
}
.name {
    position: fixed;
    overflow: visible;
    margin-left: 6%;
    margin-top: 3%;
    animation: fadeIn 3s;
}
.mainFunction {
    position: static;
}
.firstFunction {
    height: 300px;;
    margin-top: 300px;
    margin-left: 10%;
}
